<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {VIEWPORT} <!-- Dont Remove this line, it can be disabled at intstance! -->
    <title>Calendar</title>
    <link href='/hook/JSLive/getCSS?Instance={INSTANCE}' rel='stylesheet' />
    {FONTS}  <!-- Need for Custom font Family !-->
    <script src="/hook/JSLive/js/jquery.min.js"></script>
    <script src="/hook/JSLive/js/util.js"></script>
    <script src='https://unpkg.com/ical.js@1.4.0/build/ical.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='/hook/JSLive/js/fullcalendar/locales/de.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.10.1/main.global.min.js'></script>
</head>
<body style="margin: 0;">
    <script>
        var config_global = {GLOBAL};
        var config_dataEvents = {DATAEVENTS}; 
        var config_views = {VIEWS};
        var configuration = {CONFIG};

        running = false;
        last_update = Date.now();

        function Load(){
            try {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: configuration.initialView,
                    height: (Get_WindowHeight()-20),
                    eventSources: CreateEventSource(),
                    titleFormat: configuration.titleFormat,
                    headerToolbar: configuration.header, 
                    footerToolbar: configuration.footer,
                    weekNumbers: configuration.table_weekNumbers_display,
                    weekNumberFormat: { week: configuration.table_weekNumberFormat },
                    views: config_views,
                    locale: 'de',

                    listDayFormat: function(dateData) {
                        if(configuration.table_list_listDayFormat_display == false) return;

                        var curDate = new Date(dateData.date.year, dateData.date.month, dateData.date.day);
                        var now = new Date();
                        var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                        var tomorrow = new Date(now.getFullYear(), now.getMonth(), now.getDate()+1);

                        if(configuration.table_list_listDayFormat_overrideToday && curDate.getTime() == today.getTime()){
                            return configuration.translation.Today
                        }else if(configuration.table_list_listDayFormat_overrideTomorrow && curDate.getTime() == tomorrow.getTime()){
                            return configuration.translation.Tomorrow
                        }

                        return curDate.toLocaleString(dateData.localeCodes[0], {  weekday: 'long' });
                    },

                    listDaySideFormat: function(dateData) {
                        if(configuration.table_list_listDaySideFormat_display == false) return;
                        var curDate = new Date(dateData.date.year, dateData.date.month, dateData.date.day);
                        return curDate.toLocaleString(dateData.localeCodes[0], {year: "numeric", month: "long", day: "numeric"});
                    } 
                });

                if(configuration.table_weekText_display){
                    //calendar.setOption('locale', 'fr');
                }
                calendar.render();
            }catch (e) {
                alert(e);
            }
        }
        function CreateEventSource(){
            let location = window.detectLocation();

            config_dataEvents.forEach((element, index) => {
                if(config_dataEvents[index]["Type"] === "module"){
                    config_dataEvents[index]["url"] = location['protocol'] + "//" + location['host'] + "/hook/JSLive/getFeed";
                    config_dataEvents[index]["extraParams"]["pw"] = config_global.Password;

                }else if(config_dataEvents[index]["Type"] === "file"){
                    //location['protocol'] + "//" + location['host'] +
                    config_dataEvents[index]["url"] = "/hook/JSLive/getICS?Instance="+configuration.InstanceID+"&pw="+config_global.Password+"&md5="+config_dataEvents[index]["md5"];
                }else if(config_dataEvents[index]["Type"] === "link"){
                    config_dataEvents[index]["url"] = "/hook/JSLive/getICS?Instance="+configuration.InstanceID+"&pw="+config_global.Password+"&md5="+config_dataEvents[index]["md5"];
                }

                config_dataEvents[index]["failure"] = function () {
                    $('#script-warning').show();
                    alert('there was an error while fetching events!');
                }
            });

            return config_dataEvents;
        }

        function updateValue(e) {
            value = this.value;
            if(!running) UpdateWorker();
        }

        async function UpdateWorker(){
            running = true;
            last_update = Date.now();
            while (running){
                await sleep(1);
                try {
                    if((last_update + configuration.DataUpdateRate) <= Date.now()){
                        last_update = Date.now();

                        console.log(Date.now() + " >> UpdateWorker | Update => " + value);
                        var response = await fetch("/hook/JSLive/setData?Instance={INSTANCE}&pw={PASSWORD}&val="+value);
                        console.log(Date.now() + " >> UpdateWorker Response => " + response.statusText + " (" + response.status + ")");

                        console.log(Date.now() + " >> UpdateWorker => CLOSE");
                        running = false;
                    }
                }catch (e) {
                    console.log(Date.now() + " >> UpdateWorker => ", e);
                }
            }
        }
        function connect() {
            let location = window.detectLocation();
            var ws = new WebSocket(location['protocol'].replace(/^http/, 'ws') + "//" + location['host'] + "/hook/JSLive/WS/" + {INSTANCE});

            ws.onopen = function() {
                // subscribe to some channels
                //ws.send(JSON.stringify({
                //.... some message the I must send when I connect ....
                //}));
            };

            ws.onmessage = function(e) {
                data = JSON.parse(e.data);
                if(data.Message == 10506) {
                    //refresh webseite
                    setTimeout(function (){
                        window.location.reload(false);
                    },1000);
                } else if(data.Message == 10603) {
                    Update(data.SenderID, data.Data[0]);
                }
            };

            ws.onclose = function(e) {
                console.log(Date.now() + ' >> Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
                setTimeout(function() {
                    connect();
                }, 1000);
            };

            ws.onerror = function(err) {
                console.error(Date.now() + ' >> Socket encountered error: ', err.message, 'Closing socket');
                ws.close();
            };
        }

        function Update(id_val, val){
            isUpdated = false;
            now = Date.now();
            if(running ) return;

            if(id_val === configuration.Variable && value !== val){
                value = val;

                obj = document.querySelector("#text");
                obj.value = value;
            }
        }

        async function PullNewData(refreshRate){
            refreshRate = refreshRate * 1000;
            while (true){
                try {
                    $.getJSON("/hook/JSLive/getData?Instance={INSTANCE}&pw={PASSWORD}", function (data) {
                        Update(data.Variable, data.Value);
                    });

                    //Control Variables
                }catch (e) {
                    console.log(Date.now() + " >> PullNewData => " + e);
                }
                await sleep(refreshRate);
            }
        }
        window.onload = function() {
            try {
                Load();

                if (config_global.LocalAddress == "" && config_global.LocalDataMode == 0) {
                    //pullup Mode local
                    refreshRate = config_global.LocalRefreshTime;
                    PullNewData(refreshRate);
                } else if (config_global.RemoteAddress == "" && config_global.RemoteDataMode == 0) {
                    //pullup Mode remote
                    refreshRate = config_global.RefreshTime;
                    PullNewData(refreshRate);
                } else {
                    connect();
                }
            }catch (e) {
                alert(e);
            }
        }
    </script>
    <div id='calendar'></div>
</body>
</html>