<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{TITLE_TEXT}</title>
</head>
<script src="{ADDRESS}/hook/JSLive/js/jquery.min.js"></script>
<script src="{ADDRESS}/hook/JSLive/js/iro/5.5.0/iro.js"></script>

<body style="text-align: center;">
<div id="picker"></div>

<script>
    let curValue = {VALUE};
    let config_global = {GLOBAL};
    let config_ticks = {TICKS};
    let config_highlights = {HIGHLIGHTS};
    let confiuration = {CONFIG};

    let colorPicker = new iro.ColorPicker("#picker",  LoadPicker());

    function LoadPicker(){
        if(!confiuration.title_display) confiuration.title_text = false;
        if(!confiuration.plate_unit) confiuration.plate_unit = false;
        if(!confiuration.progressbar_display) confiuration.progressbar_barWidth = 0;

        config = {
            // Set the size of the color picker
            width: window.innerHeight-20,
            colors: [
                'rgb(100%, 0, 0)', // pure red
                'rgb(0, 100%, 0)', // pure green
                'rgb(0, 0, 100%)', // pure blue
            ]
        };

        return config;
    }

    colorPicker.on('color:change', function(color) {
        console.log(color.index, color.rgb);
    });

    function connect() {
        var ws = new WebSocket('{WSADDRESS}', [encodeURIComponent(btoa('webfront:{WEBFRONTPASSWORD}'))]);
        ws.onopen = function() {
            // subscribe to some channels
            //ws.send(JSON.stringify({
            //.... some message the I must send when I connect ....
            //}));
        };

        ws.onmessage = function(e) {
            data = JSON.parse(e.data);
            if(data.Message == 10603) {
                UpdateGauge(data.SenderID, data.Data[0]);
            }
        };

        ws.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect();
            }, 1000);
        };

        ws.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            ws.close();
        };
    }

    function UpdateGauge(id_val, val){
        isUpdated = false;

        if(id_val == confiuration.variable){
            //console.log(val);
            gauge.value = val;
        }
    }

    async function PullNewData(refreshRate){
        refreshRate = refreshRate * 1000;
        while (true){
            try {
                $.getJSON("{ADDRESS}/hook/JSLive/getData?Instance={INSTANCE}&pw={PASSWORD}", function (data) {
                    data.forEach(function (part, index) {
                        UpdateGauge(part.Variable, part.Value);
                    });
                });

                //Control Variables
            }catch (e) {
                console.log("PullNewData => ", e);
            }
            await sleep(refreshRate);
        }
    }

    function filterKeys(obj, func) {
        return Array.prototype.filter.call(Object.keys(obj), func, obj);
    }
    function someKeys(obj, func) {
        return Array.prototype.some.call(Object.keys(obj), func, obj);
    }
    function atLeastOnePropertyMatches(obj, requiredProp) {
        return someKeys(obj, function (prop) {
            if (requiredProp.hasOwnProperty(prop)) {
                return this[prop] === requiredProp[prop];
            }
        });
    }
    function getMatchingKeys(obj, requiredProp) {
        return filterKeys(obj, function (prop) {
            return atLeastOnePropertyMatches(this[prop], required);
        });
    }
    Array.prototype.insert = function ( index, item ) {
        this.splice( index, 0, item );
    };
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    window.onload = function() {
        LoadPicker();

        if(config_global.LocalAddress == "{ADDRESS}" && config_global.LocalDataMode == 0){
            //pullup Mode local
            refreshRate = config_global.LocalRefreshTime;
            PullNewData(refreshRate);
        }else if(config_global.RemoteAddress == "{ADDRESS}" && config_global.RemoteDataMode == 0){
            //pullup Mode remote
            refreshRate = config_global.RemoteRefreshTime;
            PullNewData(refreshRate);
        }else{
            connect();
        }
    }
</script>
</body>
</html>