<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    {VIEWPORT} <!-- Dont Remove this line, it can be disabled at intstance! -->
    <title>{TITLE_TEXT}</title>
</head>
{FONTS} <!-- Need for Custom font Family !-->

<script src="/hook/JSLive/js/jquery.min.js"></script>
<script src="/hook/JSLive/js/util.js"></script>
<script src="/hook/JSLive/js/chartjs/chart.min.js" charset="utf-8"></script>
<script src="/hook/JSLive/js/moment/2.27.0/Moment.js" charset="utf-8"></script>
<script src="/hook/JSLive/js/chartjs/plugins/chartjs-adapter-moment.js" charset="utf-8"></script>
<script src="/hook/JSLive/js/chartjs/plugins/chartjs-plugin-datalabels.min.js" charset="utf-8"></script>

<body style="text-align: center;">
    <div class="chart-container" id="chart-container" style="position: relative; margin: 0 auto;">
        <canvas id="myChart"></canvas>
    </div>
<script>
    var myChart;

    var config_global = {GLOBAL};

    var config_dataset = []; // {/DATASETS}
    var config_legend = {LEGEND};
    var config_tooltips = {TOOLTIPS};
    var config_title = {TITLE};
    var config_labels = {LABELS};

    var configuration = {CONFIG};

    var update_vars = [];
    var update_vars_Values = [];
    update_vars.push(configuration.ID_Period);
    update_vars.push(configuration.ID_Relativ);

    var last_update = Date.now();
    var offset_isSet = false;
    var last_reload = 0; //Damit der Chart nur einmal neugeladen wird!
    var period_EndDate = GetStartEndDate(Date.now()).end;

    function updateChartconfig(){
        try {
            //Eneable Datalabels
            Chart.register(ChartDataLabels);

            //autoratio
            ratio = configuration.Ratio;
            if(ratio === 0){
                ratio = Get_WindowWidth() / Get_WindowHeight();
            }

            var config = {
                type: 'radar',
                data: {
                    labels: config_labels,
                    datasets: config_dataset
                },
                options: {
                    scales: {
                        r: {
                            pointLabels: {
                                display: configuration.axes_pointLabels_display,
                                color: configuration.axes_pointLabels_color,
                                font: {
                                    size: configuration.axes_pointLabels_fontSize,
                                    family: configuration.axes_pointLabels_fontFamily
                                }
                            },
                            grid: {
                                display: configuration.axes_gridLines_display,
                                color: configuration.axes_gridLines_color,
                                LineWidth: configuration.axes_gridLines_lineWidth,
                                //drawTicks: configuration.axes_gridLines_drawTicks
                            },
                            angleLines: {
                                display: configuration.axes_angleLines_display,
                                color: configuration.axes_angleLines_color,
                                lineWidth: configuration.axes_angleLines_lineWidth
                            },
                            ticks: {
                                display: configuration.axes_gridLines_drawTicks,
                                color: configuration.axes_ticks_fontColor,
                                backdropColor: configuration.axes_ticks_backdropColor,
                                font: {
                                    size: configuration.axes_ticks_fontSize,
                                    family: configuration.axes_ticks_fontFamily
                                }

                            },
                            display: configuration.axes_display
                        }
                    },
                    animation: {
                        duration: configuration.animation_duration,
                        easing: configuration.animation_easing,
                    },
                    hover: {
                        animationDuration: 0           // duration of animations when hovering an item
                    },
                    responsive: true,
                    aspectRatio: ratio,
                    responsiveAnimationDuration: 0,    // animation duration after a resize
                    plugins: {
                        title: config_title,
                        legend: config_legend,
                        tooltip: config_tooltips,
                        datalabels: {
                            display: false,
                            align: configuration.datalabels_align,
                            anchor: configuration.datalabels_anchoring,

                            borderRadius: configuration.datalabels_borderRadius,
                            borderWidth: configuration.datalabels_borderWidth,
                            font: {
                                size: configuration.datalabels_fontSize,
                                family: configuration.datalabels_fontFamily
                            },
                            color: configuration.datalabels_fontColor,
                            clip: true,
                            clamp: true,
                            formatter: function(value, context) {
                                var str = value;
                                if(str === null || str === 0 || str === "") return "";

                                if(context.dataset.datalabels.showPrefix){
                                    str = context.chart.config.options.scales[context.dataset.yAxisID].Prefix + str;
                                }
                                if(context.dataset.datalabels.showSuffix){
                                    str = str + context.chart.config.options.scales[context.dataset.yAxisID].Suffix;
                                }

                                return  str;
                            },
                            backgroundColor: function(context) {
                                var val = context.dataset.data[context.dataIndex];
                                if(val === null || val === 0 || val === "") return "";

                                if(context.dataset.datalabels.useBackgroundColor){
                                    return context.dataset.backgroundColor;
                                }else{
                                    return context.dataset.datalabels.BackgroundColor;
                                }
                            },
                            borderColor: function(context) {
                                var val = context.dataset.data[context.dataIndex];
                                if(val === null || val === 0 || val === "") return "";

                                if(context.dataset.datalabels.useBorderColor){
                                    return context.dataset.borderColor;
                                }else{
                                    return context.dataset.datalabels.BorderColor;
                                }
                            }
                        }
                    },
                    layout: {
                        padding: {
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 0
                        }
                    }
                }
            };

            //add function tooltip
            t_callpack = {
                label: UpdateTooltipLabel
            };
            config.options.plugins.tooltip.callbacks = t_callpack;

            return config;
        } catch (e) {
            alert("Radarchart1 | ", e);
        }
    }

    function connect() {
       let location = window.detectLocation();
        var ws = new WebSocket(location['protocol'].replace(/^http/, 'ws') + "//" + location['host'] + "/hook/JSLive/WS/" + {INSTANCE});
        ws.onopen = function() {
            // subscribe to some channels
            //ws.send(JSON.stringify({
            //.... some message the I must send when I connect ....
            //}));
        };

        ws.onmessage = function(e) {
            data = JSON.parse(e.data);
            if(data.Message == 10506) {
                //refresh webseite
                setTimeout(function (){
                    window.location.reload(false);
                },1000);
            } else if(data.Message == 10603) {
                UpdateChart(data.SenderID, data.Data[3], data.Data[0]);
                ReloadChart(data.SenderID, data.Data[3]);
            }
        };

        ws.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect();
            }, 1000);
        };

        ws.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            ws.close();
        };
    }
    function UpdateChart(id_val, dt_val, value){
        if(!configuration.CustomVars.includes(id_val)) return;
        //wird nur bei customevariablen ausgeführt!

        required = {variable: id_val};
        results = [];
        results = getMatchingKeys(config_dataset, required);
        //nur Updaten wenn ID in Chart exestiert
        if(results.length == 0) return;

        $.getJSON("/hook/JSLive/getData?Instance={INSTANCE}&pw={PASSWORD}", function (data) {

            results.forEach(function(part, index) {
                curVar = myChart.data.datasets[part].Variable;

                data.forEach(function (j_part, j_index) {
                    //UpdateChart(part.Variable, dt_val, part.Value);
                    if (j_part.Variable === curVar) {
                        if (curVar in update_vars_Values) {
                            //prüfen ob änderung und gegbfalls daten aktuallieseren
                            if (JSON.stringify(update_vars_Values[curVar]) != JSON.stringify(j_part.Value)) {
                                update_vars_Values[curVar] = j_part.Value;

                                myChart.data.datasets[part].data = j_part.Value;
                                myChart.update();
                            }
                        }
                    }
                });
            });
        });
    }
    function ReloadChart(id_val, dt_val, val = null){
        //deoppelten Reload verhinden!
        if(last_reload == dt_val) return;
        if(!update_vars.includes(id_val)) return;
        last_reload = dt_val;
        isReloading = true;

        if(configuration.ID_Period === id_val && val !== null) configuration.Period = val;
        if(configuration.ID_Relativ === id_val && val !== null) configuration.Relativ = val;

        if(configuration.data_loadAsync){
            config_dataset = [];
            config_xaxes = {};
            config_axes = {};

            //First Load Config!!
            $.getJSON("/hook/JSLive/getUpdate?Instance={INSTANCE}&pw={PASSWORD}&loadConfig=1", function( data ) {
                configuration =  data.CONFIG;
                console.log("Configuration: ", JSON.stringify(data));

                //then load XAxes
                $.getJSON("/hook/JSLive/getUpdate?Instance={INSTANCE}&pw={PASSWORD}&loadLabels=1", function (data) {
                    //console.log("update Offset: ", data);
                    config_labels = data.LABELS;
                    console.log("Labels: ", JSON.stringify(data));

                    //load VariablesData Async
                    configuration.Var_List.forEach(function (Variable) {
                        $.getJSON("/hook/JSLive/getUpdate?Instance={INSTANCE}&pw={PASSWORD}&var=" + Variable, function (data) {
                            //console.log("update Offset: ", data);
                            config_dataset.push(data.DATASETS[0]);
                            Object.assign(config_axes, data.AXES);

                            console.log("Async Dataset " + Variable + " loaded");
                            console.log("Dataset: ", JSON.stringify(data));

                            if(typeof myChart === "undefined"){
                                console.log("RELOAD CHART Full!");
                                var ctx = document.getElementById('myChart');
                                myChart = new Chart(ctx, updateChartconfig());
                            }else{
                                myChart.data.labels = config_labels;
                                myChart.data.datasets = config_dataset;

                                console.log("RELOAD CHART!");
                                myChart.update();
                            }

                            last_reload = Date.now();
                            UpdateLastValue();

                            isReloading = false;
                        });
                    });
                });
            });
        }else{
            //sync load of all Data
            $.getJSON( "/hook/JSLive/getUpdate?Instance={INSTANCE}&pw={PASSWORD}", function( data ) {
                config_dataset = data.DATASETS;
                config_labels = data.LABELS;
                configuration =  data.CONFIG;


                if(typeof myChart === "undefined"){
                    console.log("RELOAD CHART Full!");
                    var ctx = document.getElementById('myChart');
                    myChart = new Chart(ctx, updateChartconfig());
                }else{
                    myChart.data.labels = config_labels;
                    myChart.data.datasets = config_dataset;

                    console.log("RELOAD CHART!");
                    myChart.update();
                }

                last_reload = Date.now();
                UpdateLastValue();

                isReloading = false;
            });
        }
    }
    async function PullNewData(refreshRate, isWebsocket){
        refreshRate = refreshRate * 1000;
        while (true){
            dt_val = Math.floor(Date.now() / 1000);
            try {
                //Aktuaisieren nach zeit!
                curDate = new Date();
                if(curDate > period_EndDate){
                    period_EndDate = GetStartEndDate(Date.now()).end;

                    ReloadChart(dt_val);
                }

                if(!isWebsocket){
                    $.getJSON("/hook/JSLive/getData?Instance={INSTANCE}&pw={PASSWORD}", function (data) {
                        isUpdated = false;

                        data.forEach(function (part, index) {
                            //UpdateChart(part.Variable, dt_val, part.Value);

                            if(update_vars.includes(part.Variable)) {
                                //reloaden wenn es ein Attribut war
                                if(part.Variable in update_vars_Values){
                                    //prüfen ob änderung und gegbfalls daten aktuallieseren
                                    if(update_vars_Values[part.Variable] != part.Value){
                                        update_vars_Values[part.Variable] = part.Value;
                                        ReloadChart(part.Variable, dt_val);
                                    }
                                }else{
                                    update_vars_Values[part.Variable] = part.Value;
                                }
                            }else{
                                //customdata Reloade!

                            }
                        });

                        if(isUpdated){
                            period_EndDate = GetStartEndDate(Date.now()).end;
                        }
                    });
                }

            }catch (e) {
                console.log("PullNewData => ", e);
            }
            await sleep(refreshRate);
        }
    }

    function GetStartEndDate(date) {
        period = configuration.Period;
        is_relativ = configuration.Relativ;
        oldDate = new Date(date);

        eDate = new Date();
        sDate = new Date();

        if(is_relativ){
            sDate = oldDate;
            switch(period){
                case 0:
                    //dekade
                    //Jahr
                    eDate.setFullYear(eDate.getFullYear()+1);
                    break;
                case 2:
                case 3:
                    //quartal
                    //Monat
                    eDate.setMonth(eDate.getMonth()+1);
                    break;
                case 4:
                case 5:
                    //woche
                    //tag
                    eDate.setDate(eDate.getDate()+1);
                    break;
                default:
                    //stunde
                    eDate.setHours(eDate.getHours()+1);
                    break;
            }
        }else{
            switch(period){
                case 0:
                    //dekade
                    startyear = parseInt(oldDate.getFullYear() / 10) * 10;
                    sDate = new Date(startyear, 0, 0, 0, 0, 0);
                    eDate = new Date((startyear+10), 0, 0, 0, 0, 0);
                    break;
                case 1:
                    //Jahr
                    sDate = new Date(oldDate.getFullYear(), 0, 0, 0, 0, 0);
                    eDate = new Date((oldDate.getFullYear()+1), 0, 0, 0, 0, 0);
                    break;
                case 2:
                    //quartal
                    starmonth = parseInt(oldDate.getMonth() / 3) * 3;
                    sDate = new Date(oldDate.getFullYear(), starmonth, 0, 0, 0, 0);
                    eDate = new Date(oldDate.getFullYear(), (starmonth+3), 0, 0, 0, 0);
                    break;
                case 3:
                    //Monat
                    sDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), 0, 0, 0, 0);
                    eDate = new Date(oldDate.getFullYear(), (oldDate.getMonth()+1), 0, 0, 0, 0);
                    break;
                case 4:
                    //woche
                    //immer montag starten
                    var day = oldDate.getDay(),
                        diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
                    oldDate = oldDate.setDate(diff);
                    sDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), 0, 0, 0);
                    eDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), (oldDate.getDate()+7), 0, 0, 0);
                    break;
                case 5:
                    //tag
                    sDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), 0, 0, 0);
                    eDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), (oldDate.getDate()+1), 0, 0, 0);
                    break;
                case 6:
                    //stunde
                    sDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), oldDate.getHours(), 0, 0);
                    eDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), (oldDate.getHours()+1), 0, 0);
                    break;
                case 7:
                    //minute
                    sDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), oldDate.getHours(), oldDate.getMinutes(), 0);
                    eDate = new Date(oldDate.getFullYear(), oldDate.getMonth(), oldDate.getDate(), oldDate.getHours(), (oldDate.getMinutes()+1), 0);
                    break;
                default:
                    eDate = oldDate;
                    sDate = oldDate;
                    break;
            }
        }
        //console.log("sDate:", sDate);
        //console.log("eDate:", eDate);


        return { "start": sDate, "end": eDate};
    }
    function UpdateTooltipLabel(tooltipItem, data){
        var dataset = data.datasets[tooltipItem.datasetIndex];

        var Suffix = "";
        var Prefix = "";
        var blocks = [];


        /*required = {id: data.datasets[tooltipItem.datasetIndex].yAxisID};
        AxisData = [];
        Axiskeys = getMatchingKeys(config_axes, required);


        Axiskeys.forEach(function(part, index) {
            Suffix = config_axes[part].Suffix;
            Prefix = config_axes[part].Prefix;
        });*/

        if (dataset.label) {
            blocks.push(dataset.label + ': ');
        }
        if (Prefix !== "") {
            blocks.push(Prefix);
        }
        blocks.push(dataset.data[tooltipItem.index].y)
        if (Suffix !== "") {
            blocks.push(Suffix);
        }
        return blocks.join('');
    }
    function UpdateLastValue(){
        config_dataset.forEach(function (part, index) {
            update_vars_Values[part.Variable] = part.data;
        });
    }


    function bootUp(){
        try {
            //load config after Startup
            var dt_val = Math.floor(Date.now() / 1000);
            ReloadChart(update_vars[0], dt_val, null, true);

            if (config_global.DataMode === 0) {
                //pullup Mode
                var refreshRate = config_global.RefreshTime;
                PullNewData(refreshRate);
            } else {
                connect();
            }
        }catch (e) {
            alert("Radarchart | ", e.message);
        }
    }

    $(document).ready(function() {
        ResizeChart();
        bootUp();
    });

    window.addEventListener('resize', ResizeChart);
    window.addEventListener('orientationchange', ResizeChart);

    function ResizeChart() {
        ratio = configuration.Ratio;
        if(ratio === 0){
            ratio = Get_WindowWidth() / Get_WindowHeight();
        }

        var size = Get_WindowHeight();
        if(size < Get_WindowHeight()) size = Get_WindowWidth();

        //reload
        var ctx = document.getElementById('chart-container');
        ctx.style.width = (size*ratio)-20+"px";
        ctx.style.height = size-20+"px";

        if(typeof myChart !== "undefined") myChart.options.aspectRatio = ratio;
    }

    /*
    window.onload = function() {
        try {
            var ctx = document.getElementById('myChart');
            myChart = new Chart(ctx, updateChartconfig());
            refreshRate = 60;
            isWebsocket = false;

            if (config_global.LocalAddress == "") {
                //pullup Mode local
                refreshRate = config_global.LocalRefreshTime;

                if (config_global.LocalDataMode != 0) {
                    connect();
                    isWebsocket = true;
                }
            } else { //(config_global.RemoteAddress == "")
                //pullup Mode remote
                refreshRate = config_global.RefreshTime;

                if (config_global.RemoteDataMode != 0) {
                    connect();
                    isWebsocket = true;
                }
            }
            UpdateLastValue();
            PullNewData(refreshRate, isWebsocket);
        }catch (e) {
            alert(e);
        }
    }*/
</script>
</body>
</html>